# Environment variables
.env
.env.*
!.env.example

# IDE files
.idea/
*.iml
.vscode/

# Build files
target/
build/
out/

# Logs
*.log
logs/

# Other
.DS_Store
Thumbs.db

# Environment files
src/main/resources/.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
### VS Code ###
.vscode/

